@CHARSET "UTF-8";
.go-create-jsp {
	cursor : pointer;
}
.hide-div {
	display : none;
}
.m-hide, .a-hide, .l-hide, .ml-hide {
	opacity : 0;
	filter : alpha(opacity = 0);
	-ms-filter : alpha("opacity = 0");
}
.radio {
    float: left;
    margin-left: 15px;
}
.margin-right {
    margin-right : 10px;
}
.margin-zero {
   padding : 0;
   width : 23px;
   height : 23px;
}
.padding-top {
    padding-top: 5px;
}
.col-md-8 .padding-left {
	padding-left : 0;
}
.balance {
	padding-top: 18px;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    vertical-align : middle;
}
select {
    padding : 6px 12px;
}
.pull-center {
	text-align : center;
}

.btn-padding {
	padding : 0;
}
.label-padding {
	padding-left : 0;
}
div .label-padding {
	padding-left : 0;
}
div.row .radio-margin-top {
	margin-top : 0;
}
.t-text, .img-txt, .templete, .content_no, .title {
    font-weight : bold;
}
.li-margin {
	margin-bottom : 10px;
}



.modal-content {
	box-shadow : 0 5px 15px rgba(0,0,0,.5);
    border : 1px solid rgba(0,0,0,.2);
    border-radius : 6px;
    outline : 0;
}

/* media query
 * ------------------------------------- */
@media (max-width : 980px) {
    select {
        margin-top : 12px;
    }
}